label{
font-size: 14px;
font-family: 'Lato',"Microsoft Yahei","SimHei",Sans-serif;
}
table{
margin: 8px 0;
}
input[type=text]{
width: 100px;
height: 20px;
margin: 4px;
}
select{
width: 100px;
margin-left: 8px;
}
input[type="button"],input[type="submit"]{
font-family: '微软雅黑';
font-weight: bold;
padding: 5px;
margin-left: 5px;
}

input#addPolicy{
margin-top: 15px;
}
.baseAttribute td{
width: 350px;
}
#rightPolicy table{
text-align: center;
}
.baseAttribute td:first-child{
width: 280px;
}
#rightPolicy{
margin-left: 60px;
}

