div.navbar{display:none;}
div.breadcrumbs{display:none;}
div.left-column{display:none;}
form{display:none;}
div.sent_visa_table{width:95%;margin-left:5%;}
div.wrapper{margin-top:0px;}
div.right-column{width:100%;}