@charset "UTF-8";

#header{
margin: 30px;
padding: 10px;
padding-bottom: 20px;
border-bottom: 1px solid black;
}
#header li{
display: inline;
font-size: 16px;
}
#header div#logo p{
font-size: 24px;
font-family: "Microsoft Yahei","SimHei",Sans-serif;
font-weight: 900;
}
#header div#search button{
width: 71px;
height: 24px;
background: url('../resources/btn.png') no-repeat;
}
#header div#search button:link{
background: url('../resources/btn.png') no-repeat;
}
#header div#search button:hover{
background: url('../resources/btn-hover.png') no-repeat;
}
#bodyer div#content{
width: 1200px;
margin: 10px auto;
}
